#title-slide .title {
        font-size: 1.9em;
        color: blue;
        font-family: Times New Roman;
}


.reveal h1 {
  font-size: 1.8em !important;
}

.reveal h2 {
  font-size: 1.25em;
}

.reveal h3 {
  font-size: 0.8em;
}


.slide.bg-bottom-right {
  background-image: url("NBA.png");
  background-repeat: no-repeat;           /* pas de répétition */
  background-size: 5.5em 5em;               /* largeur × hauteur précisément */
  background-position: right 1em bottom 1em; /* décallage de 1em depuis les bords */
}

